



















































ต่อจากอันเดิม
.navbar-search.dot{
    position: absolute;
    min-height: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
@media(max-width:900px){
    .navbar.logo{
        width: 120px;
    }
    .navbar.menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar.right{
        gap: 20px;
    }
    .navbar.right img{
        width: 20px;
    }
    .navbar.right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media(max-width:750px){
    .navbar.menu{
        display: none;
    }
}